header {
    position: relative;
    height: 60px;
    padding: 0 20px;
}
.symbol{
    font-size: 1.25rem;
}
nav {
    display: flex;
    gap: 30px;
}
nav a{
    font-weight: 300;
    font-size:15px;
}

@media (max-width:768px) {
    nav {
        display: none;
    }

    .responsive {
        position: absolute;
        width: 100%;
        height: 60vh;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        top: 60px;
        left: 0;
        background-color: rgb(240, 238, 238);
    }

    .responsive a {
        margin-left: 15px;
        font-size: 1rem;
        font-weight:400;
    }
}